@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes animate-circle {
  0% {
    clip-path: polygon(50% 0%, 50% 100%, 50% 100%, 50% 100%);
  }
  100% {
    clip-path: polygon(50% 0%, 50% 100%, 50% 100%, 50% 0%);
  }
}



.animate-circle {
  animation: animate-circle 2s linear infinite;
}

.custom-font {
  font-family: "Mynerve", cursive;
  font-family: "Raleway", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



a {
  color: #c13e39;
  text-decoration: none;
}

.item {
  min-height: 1rem;
  min-width: 30rem;
  padding: 5px;
}

.offer {
  min-height: 1rem;
  /* min-width: 50%; */
  padding: 5px;
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .offer {
    min-width: 100%;
  }
}

@media screen and (min-width: 100px) and (max-width: 199px) {
  .offer {
    min-width: 100%;
  }
}


.inner-carousel {
  display: flex;
}
.carousel {
  cursor: grab;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}


